/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  color: rgb(111, 111, 111);
  background-color: var(--global-bg-color);
  line-height: 28px;


  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }

  h1{

  color: rgb(131, 175, 155);
  line-height: 65px;

  }
  h2{

  color: rgb(200, 200, 169);
  line-height: 50px;
  }
  h3{

  color: rgb(249,205,173);
  line-height: 45px;
  }
  h4{

  color: rgb(252, 157, 154);
  line-height: 35px;

  }
  h5{

  color: rgb(254, 67, 101);

  }
  p{

  color: rgb(111, 111, 111);

  }

  li {

  color: rgb(111, 111, 111);

  }


}


body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
